# IntekPlus C++ Formatting Standard Version 20240418
# Writer : Hyunmin Lee (raster@intekplus.com)

root = true

[*.{txt,md,props}]
charset = utf-8-bom

[*.{cpp,cu,cuh,h}]
charset = utf-8-bom
cpp_generate_documentation_comments = xml
cpp_include_cleanup_add_missing_error_tag_type = warning
cpp_include_cleanup_remove_unused_error_tag_type = warning
